.g__menu {
  background-color: var(--color-black);
  flex-direction: column;
}
.g__menu-heading {
  margin-bottom: 2rem;
  text-align: center;
}
.g__menu-content {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
}
.g__menu-content_heading {
  color: var(--color-white);
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 58px;
  text-align: center;
}

.g__menu-content_left,
.g__menu-content_right {
  flex: 1;
}
.g__menu-content_center {
  max-width: 400px;
  margin: 0 2rem;
}
.g__menu-content_center img {
  width: 100%;
}
.g__menu-content_items {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 100%;
}

@media screen and (max-width: 1150px) {
  .g__menu-content {
    flex-direction: column;
  }
  .g__menu-content_left,
  .g__menu-content_right {
    width: 100%;
  }
  .g__menu-content_center {
    align-self: center;
    margin: 3rem 1rem;
  }
}
@media screen and (max-width: 650px) {
  .g__menu-content_heading {
    font-size: 35px;
    line-height: 28px;
  }
}
